<div class="container">
  <div class="row my-4">
    <div class="col d-flex justify-content-center">
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="h4">
        ながのCAKEは全国発送可能なケーキ屋さんです。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="h4">
        お子様からお年寄りの方までお召し上がりいただけるよう、
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="h4">
        様々なバリエーションをご用意しております。
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="h4">
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col d-flex justify-content-center">
      <p class="h4">
        ぜひご注文ください。
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col d-flex justify-content-center">
      <%= image_tag('cake.jpg', width: 700, height: 400) %>
    </div>
  </div>
</div>
