<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="my-5 bg-secondary text-white "><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
      <table class="table table-borderless">
        <% form_with, model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>