<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <%= image_tag('sorry.jpg', width: 500, height: 300) %>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
      <h1>現在、検索機能はご利用できません。</h1>
    </div>
  </div>
</div>