ジャンル一覧・追加<br><br>

ジャンル名　「ジャンル名登録」　新規登録ボタン<br><br>


<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
