<footer style="background-color: white; color: white; padding: 20px 0;">
  <div class="container">
    <div class="row">
      
      <div class="col-6 offset-6 d-flex justify-content-end">
        <ul class="navbar-nav ml-auto d-flex flex-column" style="gap: 10px;">
          <li style="list-style: none;">
            <%= link_to "アバウト", about_path %>
          </li>
          <li style="list-style: none;">
            <%= link_to "プライバシーポリシー" %>
          </li>
          <li style="list-style: none;">
            <%= link_to "お問い合わせ" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p style="margin: 0; color: black;">&copy; 202407 Team later.</p>
      </div>
    </div>
  </div>
</footer>