<header>
      <span>LOGO</span>
        <% if admin_signed_in? %>
          <li>
            <%= link_to "商品一覧",  admin_items %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_customers %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", 
          </li>
          <li></li>
          <li></li>
</header>