<herder>
  <nav class="navbar navbar-expanded-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Nagano Cake</span></a>
        <ul class="navbar-nav ml-auto d-flex flex-row">

          <li>
            <%= link_to "マイページ", customers_path,class: "btn btn-light", type: "button" %>
          </li>
          <li>
            <%= link_to "商品一覧", items_path,class: "btn btn-light", type: "button" %>
          </li>
          <li>
            <%= link_to "カート", cart_items_path,class: "btn btn-light", type: "button" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: "btn btn-light", type: "button" %>
          </li>

        </ul>
      </div>

  </nav>
</herder>